*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
.idea/vcs.xml
Screenshot_20220904_121204.png
Screenshot_20220904_121457.png
Screenshot_20220904_143334.png
app/release/